html,
body,
#root,
.app {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "El Messiri", sans-serif;
	color: #fff;
}
body {
	background-image: linear-gradient(to bottom right, #141d26, #243447, #c51f5d);
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* font-family: 'El Messiri', sans-serif; */
}
.app {
	display: grid;
	grid-template-columns: minmax(200px, 1fr);
	grid-template-rows: 60px 1fr 60px;
}
a {
	color: #c51f5d;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
	transition: 500ms;
}
.navBar {
	grid-row: 1;
	display: flex;
	background-color: #19243178;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}
.test {
	display: flex;
	width: 66%;
	justify-content: space-between;
}
.navLinks {
	display: flex;
	gap: 10px;
}
input,
textarea {
	background-color: #243447;
	color: white;
	text-align: center;
	border-radius: 6px;
}
::placeholder {
	font-family: sans-serif;
}
.userBrick {
	display: flex;
	/* align-items: center; */
	/* justify-content: space-evenly; */
	column-gap: 5px;
}
button {
	background-color: #141d26;
	font-family: sans-serif;
	color: white;
	border-radius: 6px;
	box-shadow: 2px 1px #c51f5d;
}
button:hover {
	color: #c51f5d;
	box-shadow: 1px 0.5px;
	transition-duration: 500ms;
}
.footer {
	display: flex;
	background-color: #24344778;
	grid-row: 3;
	color: white;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
}
.footerChild {
	display: flex;
	gap: 3px;
	align-items: center;
}
.mainPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-row: 2;
	padding-top: 2rem;
}
.mainPagePosterContainer {
	position: relative;
	width: min(90vw, 90rem);
}
.mainPagePoster {
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: -2;
}
.mainPagePosterGradient {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background: linear-gradient(
		rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 65%,
		rgba(0, 0, 0, 0.6) 83.5%,
		rgba(0, 0, 0, 0.85)
	);
	z-index: 0;
}
.mainPagePosterButtonContainer {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
.mainPagePosterButton {
	font-size: 1.5rem;
	width: 3rem;
	background-color: rgba(64, 64, 64, 0.6);
	border-radius: 0;
	box-shadow: none;
	border: none;
	font-weight: 700;
}
.mainPagePosterButton:hover {
	box-shadow: none;
	background-color: rgba(64, 64, 64, 0.8);
}
.mainPagePosterText {
	position: absolute;
	z-index: 0;
	bottom: 5%;
	left: 10%;
}
.mainPagePosterText h2 {
	font-size: 3rem;
	color: white;
	margin: 0;
	padding: 0;
}
.mainPagePosterText h3 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
.bannerContainer {
	width: 100%;
}
.banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 1rem;
	padding-bottom: 1rem;
}
.movieBannerContainer {
	grid-row: 1;
}
.reviewTitle {
	grid-area: reviewTitle;
	margin: 0px;
}
.movieTitle {
	grid-area: movieTitle;
	margin: 0px;
}
.reviewBody {
	grid-area: reviewBody;
	margin: 0px;
}
.reviewAuthor {
	grid-area: reviewAuthor;
	margin: 0px;
}
.reviewRating {
	grid-area: reviewRating;
	margin: 0px;
}
.reviewEdit {
	grid-area: reviewEdit;
	margin: 0px;
}
.reviewItem {
	background-color: black;
	border: solid 0.15rem #c51f5d;
	border-radius: 5px;
	width: 300px;
	height: 250px;
	/* display: flex;
	flex-flow: column wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	/* border-image-slice: 1;
    border-image-source: linear-gradient(to right, #141d26, #243447, #c51f5d); */
	display: grid;
	grid-template-columns: repeat(2, 150px);
	grid-template-rows: auto;
	grid-template-areas:
		"reviewTitle reviewTitle"
		"movieTitle movieTitle"
		"reviewBody reviewBody"
		"reviewAuthor reviewRating"
		"reviewEdit reviewEdit";
	align-content: center;
	justify-items: center;
	row-gap: 10px;
	padding: 10px;
}
.reviewForm {
	width: 90%;
	max-width: 100%;
	max-height: 100%;
}
.readMore {
	cursor: pointer;
	text-decoration: underline;
}
.movieItemList {
	display: grid;
	grid-column: 1;
	grid-row: 2 / span 1;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: minmax(300px, auto);
	grid-row-gap: 1rem;
	justify-items: center;
	align-items: center;
}
.movieItem {
	border: solid 0.15rem #c51f5d;
	border-radius: 5px;
	/* border-image-slice: 1;
    border-image-source: linear-gradient(to right, #141d26, #243447, #c51f5d); */
	width: 200px;
	height: 300px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.movieItemPoster {
	position: absolute;
	height: 100%;
	opacity: 1;
	z-index: -1;
}
.movieItemTitle,
.hidden {
	visibility: hidden;
	width: 100%;
	z-index: 0;
	background-color: rgba(64, 64, 64, 0.5);
	text-align: center;
}
.movieItem:hover .movieItemTitle {
	visibility: visible;
}
.movieItem:hover .movieItemPoster {
	transition: 0.5s;
	opacity: 0.5;
}
.specificMovieContainer {
	position: relative;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: auto;
	grid-template-rows: 400px 75px 1fr;
	/* flex-flow: column wrap; */
	/* justify-content: center; */
	/* align-items: center; */
	height: 100%;
	width: 100vw;
}
.smBackground {
	justify-self: flex-start;
	position: absolute;
	z-index: -1;
	width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.smPoster {
	grid-column: 1;
	grid-row: 1;
	max-width: 200px;
	max-height: 300px;
	border: solid 3px #c51f5d;
	border-radius: 5px;
	margin: 2rem 0 0 2rem;
	/* background-color: #c51f5d; */
	/* padding: 5px; */
}
.smOptions {
	grid-column: 2;
	grid-row: 2;
}
.specificMovieItem {
	background-color: #141d26ab;
	grid-row: 1;
	grid-column: 2;
	margin: 2rem 0 0 0;
	/* max-height: 300px; */
}
.specificMovieItem > *,
.smOptions > *,
.reviewBannerContainer > * {
	margin-inline: 2rem;
}
.smGenres {
	display: flex;
	gap: 10px;
}
.specificMovieContainer {
	grid-column: 1 / span 2;
	grid-row: 2;
}
.reviewBannerContainer {
	background-color: #141d26ab;
	grid-column: 1 / span 2;
	grid-row: 3;
}

.reviewBanner {
	height: auto;
}

.screenDimmer {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: hsla(0, 0%, 0%, 0.75);
	z-index: 1;
}
.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom right, #141d26, #243447, #c51f5d);
	background-attachment: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	min-width: min(75vw, 20rem);
	min-height: 25rem;
	border: 3px solid #1d2939;
	z-index: 2;
	overflow: auto;
}
.closeFormBtn {
	position: absolute;
	align-self: flex-end;
	margin-right: 2px;
	padding: auto;
}
.deleteReviewBtn {
	position: absolute;
	align-self: flex-start;
	/* margin-left: 2px; */
	/* padding: auto; */
}
.editReviewModal {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.modalNav {
	display: flex;
	height: auto;
	width: inherit;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding-right: 3px;
}
.editReviewForm {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	justify-content: flex-start;
	gap: 1rem;
}
.newReviewForm {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	justify-content: flex-start;
	gap: 1rem;
}
.loginForm {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	justify-content: flex-start;
	gap: 1rem;
}
.registerForm {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	justify-content: flex-start;
	gap: 1rem;
}
.loginAlert > * {
	margin: 2rem;
}
@media (max-width: 600px) {
	h2 {
		text-align: center;
	}
	.test {
		flex-direction: column;
	}
	.userBrick {
		flex-direction: column;
	}
	.specificMovieContainer {
		display: flex;
		flex-flow: column wrap;
		height: 100%;
		width: 100vw;
	}
	.smPoster {
		max-width: 150px;
		max-height: 200px;
		border: 2px solid #c51f5d;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.smTitle {
		margin: 0.125rem;
	}
	.specificMovieItem {
		background-color: none;
		margin-top: 0;
	}
	.specificMovieItem > *,
	.smOptions > *,
	.reviewBannerContainer > * {
		margin-inline: 1rem;
	}
	.mainPagePosterText h2 {
		font-size: 1.25rem;
		text-align: left;
	}
	.mainPagePosterText h3 {
		font-size: 1rem;
	}
	.mainPagePosterButton {
		font-size: 1.5rem;
		width: 1.75rem;
		font-weight: 500;
		color: #c51f5d;
	}
}
