/* From https://css-tricks.com/the-checkbox-hack/#aa-push-toggles */
.switch {
	position: relative;
	display: inline-block;
}
.switchInput {
	display: none;
}
.switchLabel {
	display: block;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	color: transparent;
	user-select: none;
}
.switchLabel::before,
.switchLabel::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.switchLabel::before {
	width: 100%;
	height: 100%;
	background-color: #dedede;
	border-radius: 9999em;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}
.switchLabel::after {
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
	-webkit-transition: left 0.25s ease;
	transition: left 0.25s ease;
}
.switchInput:checked + .switchLabel::before {
	background-color: #89c12d;
}
.switchInput:checked + .switchLabel::after {
	left: 24px;
}
